.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

h1 {
    font-size: 44px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

#user_list {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

th {
    font-size: 20px;
    font-weight: 400;

}

form>input {
    max-width: 250px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

#save-user_button {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
}

.edit-button {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;

}

.delete-button {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;

}

img {
    max-width: 70px;
    height: 70px;
}

.add-user-form {
    display: none;
}

 .form {
    row-gap: 20px;
    display: block;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    background-color: #fff;
    position: absolute;
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: -3px 4px 19px 3px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: -3px 4px 19px 3px rgba(34, 60, 80, 0.34);
    box-shadow: -3px 4px 19px 3px rgba(34, 60, 80, 0.34);
    padding: 100px 0;
    text-align: center;
    opacity: 1;
    z-index: -1;
    left: 23%;
    bottom: 10%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
} 

.form{
    opacity: 1;
    z-index: 2;
    scale: 1;
}

.add {
    position: absolute;
    right: 0;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
}

::placeholder {
    padding-left: 10px;
}

#avatar {
    padding-top: 15px;
}

.div {
    position: relative;
    margin: 0 auto;
}
